@charset "utf-8";
/**********************

green   #38a884
green2  #43a487
black   #8d8d8d
yellow  #ff6000

**********************/
/* body{-webkit-tap-highlight-color: rgba(0,0,0,0);} */
body,html{
	height:100%;
	width:100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body,input{
	font:0.875rem/1.3 "Microsoft YaHei","Arial","Helvetica";
	margin:0;
}
body,h1,h2,h3,h4,p,ul,ol,dl,dd{margin:0;}
ul{padding-left:0;list-style:none;}
/*image with no-border*/
a{text-decoration:none;}
.tac{text-align:center;}
.wp33{width:27%;}
.wp50{width:42%;}
.pab{position:absolute;}
.pt1{padding-top:1rem;}
.dib{display:inline-block;}
.d_none{display:none;}
.btn{
	display:inline-block;	
	font:900 1.12rem/2  "Microsoft YaHei","Arial","Helvetica";		
	padding:0 1.5rem;	
	color:#fff;	
}
/***** outWrap  *****/
.outWrap{
	height:500px;	
	width:300px;	
	padding:10px;
	overflow:hidden;
}
.canbox {
	width: 201px;
	height: 201px;
	padding: 12px; 
}
.spanbox{text-align:center;	}
.spanbox span{
	padding:5px;
	border:1px solid #ccc;
}
.canout{
	padding:20px;
	width:75%;
	margin:0 auto;
	background:#f8f8f8;
	position:relative;
	height:302px;	
}
#myCanvas,
#canvas{	
	/* background:#fff; */
	/* box-shadow:0 0 2px #ccc;	 */
}
.canv{
	position:absolute;
	top:20px;
	left:20px;
}

.cvbg{
	/* background-size:100%; */
	/* background:#000; */
	
	background:url(../image/casimg.jpg);
	background-size:100% 50%;
	animation:toAhead 4s linear infinite;
}

.bgimg{
	display:inline-block;
	height:300px;
	width:240px;
	
	background:url(../image/redpage.png) 0 100% repeat-y;	
	animation:toAhead 0.6s linear infinite;
}

@keyframes toAhead{
	100%{background-position:0 100%;}
}


