<!doctype html>
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/angular.min.js"></script>
<!-- <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script> -->
<script src="js/angular.js"></script>
<title>angular</title>
</head>
<body>
	<!-- <div ng-controller="InvoiceCntl">
		<b>Invoice:</b>
		<br>
		<br>
		<table>
			<tr><td>Quantity</td><td>Cost</td></tr>
			<tr>
				<td><input type="integer" min="0" ng-model="qty" required ></td>
				<td><input type="number" ng-model="cost" required ></td>
			</tr>
		</table>
		<hr>
		<b>Total:</b> {{qty * cost | currency}}
	</div> -->
	
	<!-- 姓名： <input type="text" ng-model="yourname" placeholder="请输入姓名">
    <hr>
    你好： {{yourname || 'taa'}}... -->
	
	<body>
       Your name: <input type="text" ng-model="yourname" placeholder="World">
        <hr>
        Hello {{yourname || 'World'}}!
    </body>
</body>
</html>



<!-- 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="Scripts/angular.min.js"></script> -->