@charset "UTF-8";

@color: #ccc;


.background-gradient (@start: #000) {
	background: @start;
	background: -moz-linear-gradient(top,  @start 0%, darken(@start,10%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,darken(@start,10%)));
	background: -webkit-linear-gradient(top,  @start 0%,darken(@start,10%) 100%);
	background: -o-linear-gradient(top,  @start 0%,darken(@start,10%) 100%);
	background: -ms-linear-gradient(top,  @start 0%,darken(@start,10%) 100%);
	background: linear-gradient(to bottom,  @start 0%,darken(@start,10%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@start, endColorstr=darken(@start,10%),GradientType=0 );
}

/* CSS Document */
.flexigrid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	position: relative;
	border: 0px solid @borderlight2;
	overflow: hidden;
	color: @forecolor;
}
#app{
	background:@color;
}