@charset "utf-8";
/* html{font:10px/1.6 "微软雅黑", "宋体", "黑体";} */
body{
	font:12px/1.6 "微软雅黑", "宋体", "黑体";		
	color:#333
}
body,h1,h3,h4,p,ul,ol,dl,dd{
	margin:0;
}


.outbox{margin:20px;}
.pxrembox p:nth-child(1){
	/* font-size:2rem;
	padding:2rem 20px 20px 2rem;
	background:#ccc;
	margin:2rem 20px 20px 2rem; */
	font-size:0;
	width:1.25rem;
	height:1.25rem;  
	background:#ccc;
	margin:1.25rem;
	
}
.pxrembox p:nth-child(2){
	/* font-size:2rem;
	padding:2rem 20px 20px 20px;
	background:#f0f0f0;
	margin:2rem 20px 20px 2rem;; */
	font-size:1em;
	width:50em;
	height:10em;
	background:#333;
	margin:1em;
	color:#fff;
}
.pxrembox p:nth-child(3){
	font-size:12px;
	padding:1em;
	background:#aaa;
}



	body{
		font:0.8rem/1.6 "微软雅黑", "黑体","宋体";
		color:#444;		
	}	
	.imgbox{
		max-width:85%;
		border:0.2rem solid #333;
		margin:20px auto;
	}
	.list_img{
		font-size:0;
		padding:0;
		list-style:none;
	}
	.list_img li{
		display:inline-block;
		line-height:3;
		padding:0 3em;
		border-right:1px solid #ccc;
		font-size:1rem;
		list-style:none;
	}



